<section class="events-section">
  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Venue</th>
          <th>Location</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of events">
          <td>{{ event.date }}</td>
          <td>{{ event.venue }}</td>
          <td>{{ event.location }}</td>
          <td>
            <app-button label="Buy Ticket" color="secondary" (click)="buyTicket(event)"></app-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>