.events-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #000000;
  background: url("https://slipknot-app.s3.amazonaws.com/slipknot-background-3.jpg") no-repeat center center;
  background-size: cover;
  color: #ffffff;
  height: 100vh;
}

.table-container {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  max-width: 1200px;
  border-collapse: collapse;
  margin: 20px 0;
  color: #ffffff;
  background-color: #333333;

  th,
  td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #444;
  }

  th {
    background-color: #222222;
  }

  tbody tr:nth-child(even) {
    background-color: #444444;
  }

  tbody tr:hover {
    background-color: #555555;
  }
}