.section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &.align-left .section-inner {
    justify-content: flex-start;
  }

  &.align-right .section-inner {
    justify-content: flex-end;
  }
}

.section-inner {
  display: flex;
  align-items: center;
  height: 100%;
  width: 40%;
}

.section-content {
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

p {
  max-width: 300px;
  margin: 0 auto;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}