footer {
  background: #000000;
  color: #fff;

  .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 220px;

    .left,
    .center,
    .right {
      display: flex;
      align-items: center;
    }

    .left {
      flex: 1;
      justify-content: flex-start;

      .social-icon {
        color: #fff;
        margin: 0 0.5rem;
        font-size: 1.5rem;
        text-decoration: none;

        i {
          transition: color 0.3s;
        }

        &:hover i {
          color: #ccc;
        }
      }
    }

    .center {
      flex: 1;
      justify-content: center;

      a {
        display: flex;
        align-items: center;

        img {
          width: 220px;
          height: auto;
          transition: transform 0.3s ease-in-out;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }

    .right {
      flex: 1;
      justify-content: flex-end;
    }
  }

  .footer-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 220px;

    .footer-bottom-left {
      display: flex;
      align-items: center;

      a {
        color: #fff;
        text-decoration: none;
        margin-right: 1.5rem;
        transition: color 0.1s ease;

        &:hover {
          color: #ccc;
        }
      }

      p {
        margin: 0;
      }
    }

    .footer-bottom-right {
      display: flex;
      align-items: center;
    }
  }
}