<app-background-image-section [backgroundImage]="'https://slipknot-app.s3.amazonaws.com/slipknot-background-2.jpg'"
  [backgroundColor]="'#000000'">
</app-background-image-section>

<app-section [title]="'BAND'" [subtitle]="'Discover Our Journey'" [backgroundColor]="'#000000'"
  [backgroundImage]="'https://slipknot-app.s3.amazonaws.com/WANYK.jpg'" [textColor]="'#333'" [imageSrc]="''"
  [imageAlt]="'Band Image'" [buttonText]="'See More'" [buttonColor]="'primary'" [contentAlignment]="'left'"
  [buttonRoute]="'/band'">
</app-section>

<app-section [title]="'MUSIC'" [subtitle]="'Our Latest Tracks'" [backgroundColor]="'#000000'"
  [backgroundImage]="'https://slipknot-app.s3.amazonaws.com/WANYK-Corey-Reverse.jpg'" [textColor]="'#333'"
  [imageSrc]="''" [imageAlt]="'Music Image'" [buttonText]="'Listen Now'" [buttonColor]="'primary'" [reverse]="true"
  [contentAlignment]="'right'" [buttonRoute]="'/music'">
</app-section>

<app-section [title]="'PHOTOS'" [subtitle]="'Our Visual Story'" [backgroundColor]="'#000000'"
  [backgroundImage]="'https://slipknot-app.s3.amazonaws.com/WANYK-Sid-Wilson.jpg'" [textColor]="'#333'" [imageSrc]="''"
  [imageAlt]="'Photos Image'" [buttonText]="'View Gallery'" [buttonColor]="'primary'" [contentAlignment]="'left'"
  [buttonRoute]="'/photos'">
</app-section>

<app-section [title]="'VIDEOS'" [subtitle]="'Watch Us Perform'" [backgroundColor]="'#000000'"
  [backgroundImage]="'https://slipknot-app.s3.amazonaws.com/WANYK-Mick-Thomson-Reverse.png'" [textColor]="'#333'"
  [imageSrc]="''" [imageAlt]="'Videos Image'" [buttonText]="'Watch Now'" [buttonColor]="'primary'" [reverse]="true"
  [contentAlignment]="'right'" [buttonRoute]="'/videos'">
</app-section>

<app-section [title]="'NEWS'" [subtitle]="'Latest Updates'" [backgroundColor]="'#000000'"
  [backgroundImage]="'https://slipknot-app.s3.amazonaws.com/WANYK-Craig-Jones.png'" [textColor]="'#333'" [imageSrc]="''"
  [imageAlt]="'News Image'" [buttonText]="'Read More'" [buttonColor]="'primary'" [contentAlignment]="'left'"
  [buttonRoute]="'/news'">
</app-section>

<app-section [title]="'EVENTS'" [subtitle]="'See Us Live'" [backgroundColor]="'#000000'"
  [backgroundImage]="'https://slipknot-app.s3.amazonaws.com/WANYK-James-Reverse.jpg'" [textColor]="'#333'"
  [imageSrc]="''" [imageAlt]="'Events Image'" [buttonText]="'Get Tickets'" [buttonColor]="'primary'" [reverse]="true"
  [contentAlignment]="'right'" [buttonRoute]="'/events'">
</app-section>

<app-background-image-section [backgroundImage]="'https://slipknot-app.s3.amazonaws.com/slipknot-background-7.jpg'"
  [backgroundColor]="'#000000'">
</app-background-image-section>

<app-music-player trackId="6dBYrgbtKnUH0kXTsuv6Wq"></app-music-player>