<app-section [title]="'#8'" [subtitle]="'Corey Taylor'" [backgroundColor]="'#000000'"
  [backgroundImage]="'assets/corey.png'" [textColor]="'#333'"
  [text]="'Corey Taylor is the lead vocalist for Slipknot, known for his intense energy and unique voice.'"
  [contentAlignment]="'left'">
</app-section>

<app-section [title]="'#7'" [subtitle]="'Mick Thomson'" [backgroundColor]="'#000000'"
  [backgroundImage]="'assets/mick.png'" [textColor]="'#333'"
  [text]="'Mick Thomson is the rhythm guitarist for Slipknot, recognized for his aggressive playing style and mask.'"
  [contentAlignment]="'right'">
</app-section>

<app-section [title]="'#6'" [subtitle]="'Shawn Crahan'" [backgroundColor]="'#000000'"
  [backgroundImage]="'assets/shawn.png'" [textColor]="'#333'"
  [text]="'Shawn Crahan, also known as Clown, is a percussionist for Slipknot and a creative force in the band.'"
  [contentAlignment]="'left'">
</app-section>

<app-section [title]="'#5'" [subtitle]="'Craig Jones'" [backgroundColor]="'#000000'"
  [backgroundImage]="'assets/craig.png'" [textColor]="'#333'"
  [text]="'Craig Jones, also known as 133, is Slipknot’s keyboardist and sampler, contributing to the bands dark atmosphere.'"
  [reverse]="true" [contentAlignment]="'right'">
</app-section>

<app-section [title]="'#4'" [subtitle]="'Jim Root'" [backgroundColor]="'#000000'" [backgroundImage]="'assets/james.png'"
  [textColor]="'#333'"
  [text]="'Jim Root, also known as #4, is one of Slipknot’s guitarists, known for his dynamic riffs and powerful stage presence.'"
  [contentAlignment]="'left'">
</app-section>

<app-section [title]="'N/A'" [subtitle]="'Michael Pfaff'" [backgroundColor]="'#000000'"
  [backgroundImage]="'assets/michael.png'" [textColor]="'#333'"
  [text]="'Michael Pfaff, often referred to as Tortilla Man, is Slipknot’s percussionist, adding intensity and rhythm to the band`s powerful performances.'"
  [contentAlignment]="'right'">
</app-section>

<app-section [title]="'V'" [subtitle]="'Alex Venturella'" [backgroundColor]="'#000000'"
  [backgroundImage]="'assets/alex.png'" [textColor]="'#333'"
  [text]="'Alex Venturella is the bassist for Slipknot, known for his precise playing and contribution to the band’s heavy sound.'"
  [contentAlignment]="'left'">
</app-section>

<app-section [title]="'J'" [subtitle]="'Jay Weinberg'" [backgroundColor]="'#000000'"
  [backgroundImage]="'assets/jay.png'" [textColor]="'#333'"
  [text]="'Jay Weinberg is the drummer for Slipknot, bringing intense energy and technical skill to the band’s performances.'"
  [contentAlignment]="'right'">
</app-section>


<app-background-image-section [backgroundImage]="'/assets/slipknot-background-10.png'" [backgroundColor]="'#000000'">
</app-background-image-section>